QMainWindow
{
   border-image: url(:/new/images/background.png)0 0 0 0 stretch stretch;
}
QLabel#Title
{
    color: #30ff49;
    border: 2px solid #30ff49;
    border-radius: 10px;
}
QLabel#questionBox
{
    color: #30ff49;
    background-color: rgba(94, 72, 72, 180);
}
QLabel#scoreText
{
    color: #30ff49;
}
QLabel#scoreValue
{
    color: #30ff49;
}
QLabel#userName
{
    color: #30ff49;
}
QLabel#enterName
{
    color: #30ff49;
    border: 2px solid #30ff49;
}
QLabel
{
    color: #30ff49;
}

QLineEdit
{
    border: 2px solid #30ff49;
    background: transparent;
    color: #30ff49;
}
QPushButton
{
    color: #30ff49;
    background: transparent;
    border-radius: 10px;
    border: 2px solid #30ff49;
}
QPushButton#confirmQuestions:disabled
{
    color: grey;
}
QProgressBar
{
    border: 5px solid black;
    border-radius: 5px;
}

QProgressBar::chunk
{
    background-color: #05B8CC;
    width: 20px;
    margin: 0.5px;
}

QPushButton#pushButton_answerOne{ background: #2a9c48; border: 5px solid black;}
QPushButton#pushButton_answerOne:hover{background: #05fa46;}
QPushButton#pushButton_answerOne:disabled{ color: transparent;}

QPushButton#pushButton_answerTwo{ background: #2a8287; border: 5px solid black;}
QPushButton#pushButton_answerTwo:hover{background: #00f2ff;}
QPushButton#pushButton_answerTwo:disabled{ color: transparent;}

QPushButton#pushButton_answerThree{ background: #582480; border: 5px solid black;}
QPushButton#pushButton_answerThree:hover{background: #8f02fa;}
QPushButton#pushButton_answerThree:disabled{ color: transparent;}

QPushButton#pushButton_answerFour{ background: #5c1c1f; border: 5px solid black;}
QPushButton#pushButton_answerFour:hover{background: #fa020f;}
QPushButton#pushButton_answerFour:disabled{ color: transparent;}

QPushButton:hover
{
    background: green;
}
QLabel#showPoints{color: #30ff49;}

QLabel#showPoints:disabled{color: transparent; background: transparent;}
QLabel#secondsLabel:disabled{color: transparent; background: transparent;}
QLabel#countdownLabel:disabled{color: transparent; background: transparent;}
